body {
  font-family: Arial;
  margin-right: 150px;
  margin-left: 80px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
}
p {
  margin-top: 20px;
  margin-bottom: 20;
{
